@import "tailwindcss";

body{
    font-family: "Paytone One", sans-serif;
}
.sans{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.bills-bg{
    background-image: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 600px) {
    .bills-bg{
    background-position: center;
}
}